<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Home - Snippetbox07</title>
</head>
<body>
<header>
    <h1><a href='/'>Snippetbox07</a></h1>
</header>
<nav>
    <a href="/">Home Alone</a>
</nav>
<main>
    <h2>Latest Snippets07</h2>
    <p>There's nothing to see here yet! Come back after New Year!</p>
</main>
</body>
</html>
